
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>#USElections</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/round-button.css" rel="stylesheet">
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
         <!--   <li role="presentation"><a href="#">Sign In</a></li> 
 	    <li role="presentation"><a href="/showSignUp">Sign Up</a></li> -->
          </ul>
        </nav>
        <h3 class="text-muted">#USElections</h3>
      </div>

      <div class="jumbotron">
        <h3> #USElections 2016 with Twitter</h3>
        <p class="lead"></p>

 <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Hilary VS Trump</a></p> 


</div>



<!--

      <div class="jumbotron">
  <p class="lead"></p>
             <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Lets Start</a></p>  
	

	<div class="round-button">
	      <div class="round-button-circle"><a href="showSignUp" class="round-button">!!Let's Start!!</a>
	      </div>

	</div>


      </div>

	-->


<div class="round-button">
	      <div class="round-button-circle"><a href="taskList" class="round-button">!!Let's Start!!</a>
	      </div>

	</div>




      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Bucket List</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          
        </div>

        <div class="col-lg-6">
          <h4>Bucket List</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>


        </div>
      </div>

      <footer class="footer">
        <p>&copy; prayalankar 2016</p>
      </footer>

    </div>
  </body>
</html>

